.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2001em 1866.9em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -12.9em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -58.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -105.9em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -155.1em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -202.9em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-up:before {
      background-position: 0em -252.2em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -258.6em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cancel:before {
      background-position: 0em -303.8em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -351.4em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -353.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.check-round:before {
      background-position: 0em -404.9em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.checked:before {
      background-position: 0em -454em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clip:before {
      background-position: 0em -456.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -507.8em;
      width: 37.296em;
      height: 37.296em;
  }




  .icon.close:before {
      background-position: 0em -545.1em;
      width: 1.8em;
      height: 1.8106000000000002em;
  }




  .icon.close-fat:before {
      background-position: 0em -547em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.delete:before {
      background-position: 0em -549.2em;
      width: 2em;
      height: 2.2em;
  }




  .icon.download:before {
      background-position: 0em -551.4em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.edit:before {
      background-position: 0em -598.6em;
      width: 2.2em;
      height: 2.2001999999999997em;
  }




  .icon.exit:before {
      background-position: 0em -600.9em;
      width: 2.2499em;
      height: 2.3em;
  }




  .icon.facebook--color:before {
      background-position: 0em -603.2em;
      width: 40.8788em;
      height: 40.8788em;
  }




  .icon.heart:before {
      background-position: 0em -644.1em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -691.3em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -740em;
      width: 33em;
      height: 33em;
  }




  .icon.instagram--color:before {
      background-position: 0em -773em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.interface:before {
      background-position: 0em -824.2em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -873.3em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.location:before {
      background-position: 0em -882.9em;
      width: 1.7em;
      height: 2.4em;
  }




  .icon.login:before {
      background-position: 0em -885.3em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -888.6em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -933.7em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -982.1em;
      width: 1.7601em;
      height: 1.56em;
  }




  .icon.minus:before {
      background-position: 0em -983.7em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.phone-call:before {
      background-position: 0em -1030.6em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -1078em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plus:before {
      background-position: 0em -1125.7em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.profile:before {
      background-position: 0em -1170.5em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.repeat:before {
      background-position: 0em -1176em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.search:before {
      background-position: 0em -1178.2em;
      width: 2.3em;
      height: 2.3em;
  }




  .icon.share:before {
      background-position: 0em -1180.5em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.shopping-cart:before {
      background-position: 0em -1228.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.smile-good:before {
      background-position: 0em -1279.9em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1284.2em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-facebook-box:before {
      background-position: 0em -1335.4em;
      width: 9em;
      height: 9em;
  }




  .icon.soc-in:before {
      background-position: 0em -1344.4em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1387.5em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1431.4em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -1441em;
      width: 30em;
      height: 30em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1471em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1512.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1563.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1614.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.star:before {
      background-position: 0em -1665.7em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.tick--color:before {
      background-position: 0em -1714.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.unlike:before {
      background-position: 0em -1766em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.upload:before {
      background-position: 0em -1775.6em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.user:before {
      background-position: 0em -1826.9em;
      width: 35em;
      height: 35em;
  }




  .icon.vk--color:before {
      background-position: 0em -1861.9em;
      width: 5em;
      height: 5em;
  }





